p {
    color: transparent;  
    text-shadow: 0 0 0 white;
    font-size: 100px;
    margin: auto;
    text-align: center;
}

body {
    background-color: #f73468;
}

.container {
    height: 900px;
    position: relative;
    /* border: 3px solid green; */
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}